{% extends "base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Taskmanager{% endblock meta_title %}

{% block title %}List of tasks{% endblock title %}

{% block content %}
<div class="container">
	<div class="row">	
		<div class="add-buttom col-md-6">
			<a href="{% url "add_task" %}" class="btn btn-primary">add task</a>
		</div>
		<div class="col-md-6" id="category-selector">
	        <select>
			    {% if cur_cat %}
			    	<option value="">{{ cur_cat }}</option>
			    {% else %}
			    	<option value="">All Categories</option>
			    {% endif %}
			    <option value="">All Categories</option>
			    {% for cat in categories %}
			    <option value="{{ cat.name }}"{% if cat.selected %}selected="1"{% endif %}>{{ cat.name }}</option>
			    {% endfor %}
	        </select>
	      </div>
	    </div>
	</div>
</div>
<div class="container">
	<!-- Start task listing -->
	<table class="table table-responsive-sm">
	  <thead>
	    <tr>
	      <th>#</th>
	      <th>Name</th>
	      <th>Descripsion</th>
	      <th>Category</th>
	      <th>label</th>
	      <th>Start</th>
	      <th>Finish</th>
	      <th>Author</th>
	      <th>Executer</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for t in task %}
	    <tr>
	      <td>{{ forloop.counter }}</td>
	      <td><a href="{% url "one_task" t.id %}">{{ t.name }}</a></td>
	      <td><a href="{% url "one_task" t.id %}">{{ t.description | truncatewords:3 }}</a></td>
	      <td><a href="{% url "one_task" t.id %}">{{ t.category }}</a></td>
	      <td><a href="{% url "one_task" t.id %}">{{ t.label }}</a></td>
	      <td><a href="{% url "one_task" t.id %}">{{ t.start }}</a></td>
	      <td><a href="{% url "one_task" t.id %}">{{ t.finish }}</a></td>
	      <td><a href="{% url "one_task" t.id %}">{{ t.author }}</a></td>
	      <td><a href="{% url "one_task" t.id %}">{{ t.executer }}</a></td>
	      </td>
	    </tr>
	    {% endfor %}

	  </tbody>
	</table>
	<!-- End Students Listing -->
</div>

{% endblock content %}
