{% extends "base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Taskmanager{% endblock meta_title %}

{% block title %}List of tasks{% endblock title %}

{% block content %}
{% for t in task %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-6">
      <div class="row">
        <div class="one_page_title">
          name
        </div>
        <div>
          {{ t.name }}
        </div>
      </div>
      <div class="row">
        <div class="one_page_title">
          description
        </div>
        <div>
          {{ t.description }}
        </div>
      </div>
      <div class="row">
        <div class="one_page_title">
          category
        </div>
        <div>
          {{ t.category }}
        </div>
      </div>
      <div class="row">
        <div class="one_page_title">
          start
        </div>
        <div>
          {{ t.start }}
        </div>
      </div>
      <div class="row">
        <div class="one_page_title">
          finish
        </div>
        <div>
          {{ t.finish }}
        </div>
      </div>
      <div class="row">
        <div class="one_page_title">
          author
        </div>
        <div>
          {{ t.author }}
        </div>
      </div>
      <div class="row">
        <div class="one_page_title">
          executor
        </div>
        <div>
          {{ t.executor }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}

{% endblock content %}
