{% extends "base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Taskmanager{% endblock meta_title %}

{% block title %}List of tasks{% endblock title %}

{% block content %}
<a class="btn btn-default" href="{% url 'task_edit' pk=task.pk %}">edit</span></a>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-6">
      <div class="row">
        <div class="one_page_title">
          name
        </div>
        <div>
          {{ task.name }}
        </div>
      </div>
      <div class="row">
        <div class="one_page_title">
          description
        </div>
        <div>
          {{ task.description }}
        </div>
      </div>
      <div class="row">
        <div class="one_page_title">
          category
        </div>
        <div>
          {{ task.category }}
        </div>
      </div>
      <div class="row">
        <div class="one_page_title">
          start
        </div>
        <div>
          {{ task.start }}
        </div>
      </div>
      <div class="row">
        <div class="one_page_title">
          finish
        </div>
        <div>
          {{ task.finish }}
        </div>
      </div>
      <div class="row">
        <div class="one_page_title">
          author
        </div>
        <div>
          {{ task.author }}
        </div>
      </div>
      <div class="row">
        <div class="one_page_title">
          executor
        </div>
        <div>
          {{ task.executor }}
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock content %}