{% extends "base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Taskmanager{% endblock meta_title %}

{% block title %}List of tasks{% endblock title %}

{% block content %}
<a class="btn btn-default" href="{% url 'task_edit' pk=task.pk %}">edit</span></a>

<div class="container">
  <!-- Start task listing -->
  <table class="table table-responsive-sm">
    <thead>
      <tr>
        <th>Name</th>
        <th>Descripsion</th>
        <th>Category</th>
        <th>label</th>
        <th>Start</th>
        <th>Finish</th>
        <th>Author</th>
        <th>Executer</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ task.name }}</td>
        <td>{{ task.description | truncatewords:3 }}</td>
        <td>{{ task.category }}</td>
        <td>{{ task.label }}</td>
        <td>{{ task.start }}</td>
        <td>{{ task.finish }}</td>
        <td>{{ task.author }}</td>
        <td>{{ task.executer }}</td>
        </td>
      </tr>
    </tbody>
  </table>
</div>


{% endblock content %}