.one_page_title{
	margin-right: 50px;
}

.double_name_alert{
	margin-top: 10px;
	margin-bottom: 20px;
}

.form-field{
	margin-top: 40px;
}

.add-buttom{
	margin-top: 20px;
	margin-bottom: 20px;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.save {
    float: right;
}

#category-selector{
	margin-top: 30px;
}

#select-field{
	width: 125px;
}

.log1{
	margin-top: 12%;
	margin-left: 35%;
}